.App {
	display: flex;
}

.App-left {
	background-color: #0277b9;
	width: 45%;
	padding-left: 3%;
	padding-top: 5vh;
}

.App-center {
	width: 5%;
	height: 100vh;
	background-color: #0277b9;
	background-image: url('./img/wave.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
}

.App-right {
	background-color: white;
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.logo-onebanc {
	width: 53%;
}

.heading {
	color: white;
	font-size: 4rem;
	margin: 0px 0px;
	line-height: 65px;
	font-family: 'Roboto', sans-serif;
}

.subheading {
	color: white;
	font-size: 20px;
	margin: 0px 0px;
}

.email-container {
	background-color: #004da3;
	width: 45%;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.email-text {
	color: white;
	font-size: 17px;
	margin: 0px 0px;
}

.email-input-container {
	margin-top: 5px;
	display: flex;
	height: 35px;
}

.input-email {
	height: 33px;
	width: 77%;
	padding-left: 10px;
	border: none;
}

.submit-btn {
	height: 100%;
	width: 17%;
	background-color: #01e5db;
	color: white;
	border: none;
	padding: 0px;
}

.t-and-c {
	color: white;
	font-size: 0.7rem;
	margin-bottom: 5px;
}

.copyright {
	color: white;
	font-size: 0.9rem;
	margin-top: 0px;
}

.regular-bank {
	height: 65vh;
	margin-right: 80px;
}

.line {
	height: 65vh;
}

.onebanc-man {
	height: 65vh;
	margin-left: 20px;
}

.hashtag {
	text-align: center;
	font-size: 25px;
}
